[submodule "boost/smart_ptr"]
	path = boost/smart_ptr
	url = git://github.com/boost-lib/smart_ptr.git
[submodule "boost/utility"]
	path = boost/utility
	url = git://github.com/boost-lib/utility.git
[submodule "boost/config"]
	path = boost/config
	url = git://github.com/boost-lib/config.git
